:root {

  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --green-dark: hsl(162, 26%, 20%);
  --red: hsl(0, 66%, 54%);

  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  --font-karla: "Karla", sans-serif;
  --font-400: 400;
  --font-700: 700;

}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--green-200);
  min-height: 100vh;
  font-family: var(--font-karla);
}

main {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 46rem;
  flex-direction: column;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-width: 46rem;
  margin: 2rem auto;
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  gap: 1.5rem;
}

h1,
label,
input,
textarea {
  font-family: var(--font-karla);
  font-weight: var(--font-400);
  color: var(--grey-900);
}

h1 {
  grid-row: 1;
  grid-column: 1/3;
  font-weight: var(--font-700);
}

input[type="text"] {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--grey-500);
  cursor: pointer;
}

input[type="radio"] {
  accent-color: var(--green-600);
}

div:has(input[type="radio"]:checked) {
  background-color: var(--green-200);
}

input[type="checkbox"] {
  accent-color: var(--green-600);
}

input:hover {
  outline: none;
  border: 1px solid var(--green-600);
}

input:focus {
  outline: none;
  border: 1px solid var(--green-600);
}

label {
  margin-bottom: 0.5rem;
  user-select: none;
}

span label:has(+ input:required):after {
  content: "*";
  margin-left: 0.125rem;
  color: var(--green-600);
}

fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-row: 4;
  grid-column: 3/1;
  border: none;
}

fieldset legend {
  margin-bottom: 0.5rem;
}

fieldset legend:after {
  content: "*";
  margin-left: 0.125rem;
  color: var(--green-600);
}

.invalid-entry {
  display: none;
  margin-top: 0.5rem;
  color: var(--red);
}

.invalid-entry.query {
  margin-top: -1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.first-name {
  grid-row: 2;
  grid-column: 1/2;
}

.last-name {
  grid-row: 2;
  grid-column: 2/3;
}

.consent {
  flex-direction: row-reverse;
  justify-content: flex-end;
  grid-row: 6;
  grid-column: 1/3;
  margin: 0;
}

.consent input {
  margin-right: 1rem;
  cursor: pointer;
}

.consent label {
  font-size: 0.75rem;
  margin-bottom: 0rem;
  cursor: pointer;
}

.email {
  grid-row: 3;
  grid-column: 1/3;
}

.message {
  grid-row: 5;
  grid-column: 1/3;
}

.message textarea {
  direction: ltr;
  height: 5rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--grey-500);
  cursor: pointer;
}

.message textarea:focus {
  outline: none;
  border: 1px solid var(--green-600);
}

.message textarea:hover {
  outline: none;
  border: 1px solid var(--green-600);
}

.general-enquiry,
.support-request {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid var(--grey-500);
  border-radius: 5px;
  padding: 1rem;
}

.general-enquiry label {
  margin-left: 0.75rem;
  margin-bottom: 0rem;
  cursor: pointer;
}

.general-enquiry input {
  cursor: pointer;
}

.general-enquiry:focus,
.general-enquiry:active {
  background-color: var(--green-200);
  outline: none;
  border: 1px solid var(--green-600);
}

.general-enquiry:hover {
  outline: none;
  border: 1px solid var(--green-600);
}

.support-request label {
  margin-left: 0.75rem;
  margin-bottom: 0rem;
  cursor: pointer;
}

.support-request input {
  cursor: pointer;
}

.support-request:focus,
.support-request:active {
  background-color: var(--green-200);
  outline: none;
  border: 1px solid var(--green-600);
}

.support-request:hover {
  outline: none;
  border: 1px solid var(--green-600);
}

button {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  color: white;
  background-color: var(--green-600);
  border: none;
  border-radius: 5px;
  font-weight: var(--font-400);
  cursor: pointer;
  grid-row: 7;
  grid-column: 1/3;
  font-size: 1rem;
}

button:hover,
button:focus {
  background-color: var(--green-dark);
}

.success-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  background-color: var(--green-dark);
  color: var(--white);
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 28rem;
  margin: 0 auto;
  visibility: visible;
}

.success-modal h2 {
  font-size: 1rem;
}

.success-modal p {
  font-size: 0.75rem;
}

@media screen and (width <=48rem) {

  form {
    padding: 1.5rem;
  }

  .first-name {
    grid-row: 2;
    grid-column: 1/3;
  }

  .last-name {
    grid-row: 3;
    grid-column: 1/3;
  }

  .email {
    grid-row: 4;
    grid-column: 1/3;
  }

  .message {
    grid-row: 6;
    grid-column: 1/3;
  }

  .message input {
    line-height: 15rem;
  }

  fieldset {
    grid-template-columns: repeat(1, 1fr);
    grid-row: 5;
    grid-column: 3/1;
    gap: 1rem;
  }

  .consent {
    grid-row: 7;
    grid-column: 1/3;
    margin: 1rem 0;
  }

  .consent label {
    font-size: 1.125rem;
  }

  button {
    grid-row: 8;
    padding: 1.125rem 1rem;
  }

}